{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'weather/wstyle.css' %}"/>
    <title>Weather-APPI</title>
</head>
<body>
  <section class="hero is-primary nav">
      <div class="hero-body">
          <div class="container">
              <div id="infoTimer">
                <small class="title">What's the temperature in your city?</small>
                <small id='timer' class="details"></small>
              </div>
              <br>
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-50x50">
                            <img id="Wimage" src="" alt="Weather">
                        </figure>
                    </div>
                    <div>
                        <span id="Cname" class="title"></span>
                        <br>
                        <span id="Temp" class="subtitle"></span>
                        <br>
                    </div>
                    <div class="media-right details">
                        <small id="humm">Humidity: </small><br>
                        <small id="winds">Wind speed: </small><br>
                        <small id="press">Pressure: </small>
                    </div>
                </article>
          </div>
      </div>
  </section>
  <section class="section">
      <div class="container">
        {% for msg in messages %}
            <div id="alr" class="alert alert-{{ msg.tags }}">
                <p style="text-align: center;">{{ msg|capfirst }}.</p>
            </div>
        {% endfor %}
        <br>
          <div class="center">
            <input class="form-control cityname" type="text" 
            id="cityQ" placeholder="Search over 160.000 locations around the world..."/><br><br>
            <div id="searchR"></div>
              {% block content %} {% endblock %}
          </div>
      </div>
  </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>

setInterval(refresh_timer, 1000);

$(document).ready(
    function(){
        refresh_timer();
        getloc();
    }
);

function show(position){
    let xy = {"Lat": null, "Lon": null};
    xy.Lat = position.coords.latitude.toFixed(3);
    xy.Lon = position.coords.longitude.toFixed(3);
    if(xy.Lat && xy.Lon){
        $.ajax({
            type: "GET",
            url: "{% url 'location' %}",
            data: xy,
            dataType: "JSON",
            success: function(response){
                var humidity = $("#humm");
                var wind_speed = $("#winds");
                var pressure =  $("#press");
                const d = response.data.weather[0].description;
                const description = d.charAt(0).toUpperCase() + d.slice(1);
                $("#Cname").html(response.data.name + ", " + response.data.sys.country);
                $("#Temp").html(parseInt(response.data.main.temp - 273) + ", " + description);
                $("#Wimage").attr("src", response.Wimg)
                humidity.html(humidity.text() + response.data.main.humidity + "%");
                wind_speed.html(wind_speed.text() + response.data.wind.speed + "m/s");
                pressure.html(pressure.text() + response.data.main.pressure + " mbar")
            },
            error: function(error){
                console.log("error: " + error.toString());
            }
        });
    }else
        $("#Wimage").attr("alt", "Could not find your city.");
}

function error(err){
    var message = "";
    switch(err.code){
        case err.PERMISSION_DENIED:
            message = "User denied the request for Geolocation";
            break;
        case error.POSITION_UNAVAILABLE:
            message = "Location information is unavailable.";
            break;
        case error.TIMEOUT:
            message = "The request to get user location timed out.";
            break;
         case error.UNKNOWN_ERROR:
            message = "An unknown error occurred.";
            break;
        $("#Wimage").attr("alt", message);
    }
};

function getloc(){
    if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(show, error);
    }else
        $("#Wimage").attr("alt", "Location not supported in this browser");
};


$("#cityQ").keyup(function(){
      var query = document.querySelector("#cityQ").value;
      $.ajax({
          type: "GET",
          url: "{% url 'search' %}",
          data: {"query": query},
          dataType: "JSON",
          success: function(response){
              if(response.result != "empty set" && response.result.length){
                    var show = "";
                    for(i = 0;i < response.result.length;i++){
                        var link = "{% url 'detail' id=12345 %}".replace(/12345/, response.result[i]['id'].toString());
                        show += "<div class='search-div'>";
                        show += "<a href=\"" + link + "\">" + response.result[i]["name"] +"</a><br></div><br>";
                    };
                    $("#searchR").html(show);
              }else
                    $("#searchR").html("<div class='info-div'><p>No results matching query</p></div><br><br>");
          },
          error: function(error){
              console.log(error);
          }
      });
  });


function refresh_timer(){
     var d = new Date();
     $("#timer").html(d.toLocaleTimeString())
 }

</script>
</html>