{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather-APPI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="{% static 'weather/wstyle.css' %}"/>
</head>
<body>
  <section class="hero is-primary bg-steel">
      <div class="hero-body">
          <div class="container">
              <h1 class="title">What's the weather like?</h1>
          </div>
      </div>
  </section>
  <section class="section">
      <div class="container">
          <div class="center">
            <input class="cityname" type="text" id="cityQ" placeholder="Type in city..." size="60%"/><br><br>
              {% block content %} {% endblock %}
          </div>
      </div>
  </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  $("#cityQ").keyup(function(){
      var query = document.querySelector("#cityQ").value;
      $.ajax({
          type: "GET",
          url: "{% url 'search' %}",
          data: {"query": query},
          dataType: "JSON",
          success: function(response){
              if(response.result != "empty set"){
                var show = "<h4>Results: </h4><br>";
                for(i = 0;i < response.result.length;i++){
                    show += "<div class='search-div'><a class='search-link' href='#'>" + 
                    response.result[i]["name"] + "</a><br></div>";
                };
                //$("searchR").html(show);
                document.getElementById("searchR").innerHTML = show;
              }
          },
          error: function(error){
              console.log(error);
          }
      });
  });
</script>
</html>