{% extends "weather/base.html" %}
{% block content %}

<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-50x50">
                <img src="C:\Users\Korisnik\Desktop\tatto\tatto.jpg" alt="Image">
            </figure>
        </div>
        <div>
            <span class="title">Ime grada</span>
            <br>
            <span class="subtitle">Temperatura ° F</span>
            <br> Opis
        </div>
    </article>
</div>

{% endblock content %}